
:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%,  #326589 165.37%);
    --fonte-principal:"Poppins";
    }
    body{
    background-color:var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500;
    }

    .cabeçalho-menu-hamburguer {
      width: 24px;  
      height: 24px;
      background-image: url(./img/Menu.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }


    .cabeçalho {
        background-color: rgb(255, 255, 255);;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .container{
        display: flex;
        align-items: center;
    }

    .container-imagem {
     padding: 1em;
     margin: 1em;
     width: 3em;
    }

    .container-botao:checked ~ .lista-menu {
        display: block;
    }

    .lista-menu {
        display: inline-block;
        position: absolute;
        top: 100%;
        width: 20vw;
    }

    .lista-menu-titulo,
    .lista-menu-item {
        padding: 1em;
        background-color: var(--branco);
    }

    .lista-menu-titulo {
        color: var(--laranja);
        font-weight: 700;}

    .lista-menu-link {
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }

    .container-botao {
        display: none;
    }

    .lista-menu{
        display: none;
    }

    .banner{
        background-color:rgb(199, 247, 223);;
        color: #141414;
        font-size: 22px;
    }

    .banner-titulo {
        font-size: 22px;
        font-weight: 700;
    }

    .banner-texto {
        font-weight: 500;
    }