.cabeçalho-menu-hamburguer {
    width: 24px;  
    height: 24px;
    background-image: url(./img/Menu.svg);
    background-repeat: no-repeat;}

  .banner-texto {
      font-weight: 500;
  }
:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%,  #326589 165.37%);
    --fonte-principal:"Poppins";
    }
    body{
    background-color:var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500;
    }

    .cabeçalho-menu-hamburguer {
      width: 24px;  
      height: 24px;
      background-image: url(./img/Menu.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }


    .cabeçalho {
        background-color: rgb(255, 255, 255);;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .container{
        display: flex;
        align-items: center;
    }

    .container-imagem {
     padding: 1em;
     margin: 1em;
     width: 3em;
    }

    .container-botao:checked ~ .lista-menu {
        display: block;
    }

    .lista-menu {
        display: inline-block;
        position: absolute;
        top: 100%;
        width: 20vw;
    }

    .lista-menu-titulo,
    .lista-menu-item {
        padding: 1em;
        background-color: var(--branco);
    }

    .lista-menu-titulo {
        color: var(--laranja);
        font-weight: 700;}

    .lista-menu-link {
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }

    .container-botao {
        display: none;
    }

    .lista-menu{
        display: none;
    }

    .banner{
        background-color:rgba(168, 146, 135, 0.315);;
        color: #141414;
        font-size: 22px;
    }

    .banner-titulo {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }

    .banner-texto {
        font-weight: 500;
        text-align: center;
    }
    .banner-pesquisa{
        background-color: #0f1011;
        border: 1px solid var(--branco);
        color: #141414;
        border-radius: 24px;
        padding: 1em;
        width: 100%;
        background: url("./img/lupa.svg") no-repeat;
        background-position: 1em;
        text-align: center;
        

    }
    .carrossel-titulo{
        background-color: var(--branco);
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }
    .swiper-slide img{
        width: 70%;
        padding: 10px 55px;
    }
        
    .card-descricao{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0,5em;
    }
    

    .card-botoes{
        display: flex;
        justify-content: space-between;
    }

    .botoes{
        display: flex;
    }

    .card {
        background: rgb(199, 247, 223);;
        border-radius: 10px;
        text-align: center;
        padding: 2em;
        margin: 2em;
    }

    .titulo-mais-vendidos{
        text-align: center;
        font-size: 60px;
        color: #000000;
        background-color: rgb(199, 247, 223);;


    }
        .botoes-item {
            margin: 10px 15px;
        }

        .botoes-ancora {
         background-color: rgb(184, 171, 171);
            padding: 1em;
            margin: 1em 1em;
            color: #FFFFFF;
            font-weight: 700;
            text-decoration: none;
        }
        .descricao {
            font-size: 26px;
        }

        .topicos {
            background-color: rgb(196, 182, 182);
            text-align: center;
            padding: 5em;
            margin: 10px;
        }
        .titulo-topicos {
            color: #FFFFFF;
            font-size: 200;
            font-size: 20px;
            font-weight: 300;
            padding: 2em;
            margin: 8px;
        }

        .topicos-lista{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

.topicos-link{
    color: #FFFFFF;
    padding: 1em;
    background-color: var(--laranja);
    font-size: 14px;
    margin: 10px;
    border-radius: 10px;

}